In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import requests

from bs4 import BeautifulSoup

In [61]:
# year : 2012~2020
# occrrnc_day_cd : 1 일 ~ 7 토
# dght_cd : 1 주간 2 야간
# 

servekey='qfc3a1UrA1TUTqi5MLpiAVuYEktqTznfXceNTrSSkfhRyAijwPF4e95Ya7KVROhJiHBXHe9Cb6T6n8mwCK9qZA=='
df=[]
    
for year in range(2012,2021):
    url=f'http://apis.data.go.kr/B552061/AccidentDeath/getRestTrafficAccidentDeath?ServiceKey={servekey}&searchYear={year}&siDo=1100&guGun=1123&numOfRows=100&pageNo=1'
    
    res=requests.get(url)
    res.raise_for_status()
    
    soup=BeautifulSoup(res.text,'lxml')
    
    items=soup.find_all('item')

    for item in items:
        occrrnc_dt=item.find('occrrnc_dt').text.strip()
        dght_cd=item.find('dght_cd').text.strip()
        occrrnc_day_cd=item.find('occrrnc_day_cd').text.strip()
        la_crd=item.find('la_crd').text.strip()
        lo_crd=item.find('lo_crd').text.strip()
        dth_dnv_cnt=item.find('dth_dnv_cnt').text.strip()
        injpsn_cnt=item.find('injpsn_cnt').text.strip()
        se_dnv_cnt=item.find('se_dnv_cnt').text.strip()
        sl_dnv_cnt=item.find('sl_dnv_cnt').text.strip()
        acc_ty_lclas_cd=item.find('acc_ty_lclas_cd').text.strip()
        acc_ty_mlsfc_cd=item.find('acc_ty_mlsfc_cd').text.strip()
        acc_ty_cd=item.find('acc_ty_cd').text.strip()

        data=(occrrnc_dt,dght_cd,occrrnc_day_cd,la_crd,lo_crd,dth_dnv_cnt,injpsn_cnt,
             se_dnv_cnt,sl_dnv_cnt,acc_ty_lclas_cd,acc_ty_mlsfc_cd,acc_ty_cd)
        df.append(data)

In [62]:
data=pd.DataFrame(df,columns=['time','daynight','dayofweek','lon','lat','die','injure','injure_mid','injure_sm','acc_bg','acc_mid','acc_sm'])
data.head()

,time,daynight,dayofweek,lon,lat,die,injure,injure_mid,injure_sm,acc_bg,acc_mid,acc_sm
0,2012012813,1,7,37.53507329,127.09448621,1,1,0,0,01,11,01
1,2012020305,2,6,37.54859601,127.110459,1,1,0,0,03,31,32
2,2012020915,1,5,37.52836496,127.07764445,1,2,1,0,02,23,Z2
3,2012021311,1,2,37.55960054,127.07365255,1,1,0,0,02,24,25
4,2012041818,2,4,37.54800993,127.07063369,1,1,0,0,01,15,05

In [64]:
# data.to_csv('accalldata.csv',index=False)

In [9]:
data=pd.read_csv('accalldata.csv')
data.head()

,연,월,일,시간,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),주야구분,...,경도,사망자수,부상자수,중상자수,경상자수,사고유형대분류,사고유형중분류,사고유형소분류,주소,지역
0,2012,1,28,13,1.0,22.2,1.7,0.0,18.9,1,...,127.094486,1,1,0,0,1,11,01,서울특별시 광진구 구의동,구의동
1,2012,2,3,5,-12.9,78.6,1.3,0.0,66.7,2,...,127.110459,1,1,0,0,3,31,32,서울특별시 광진구 광장동,광장동
2,2012,2,9,15,0.1,322.1,3.0,0.0,45.7,1,...,127.077644,1,2,1,0,2,23,Z2,서울특별시 광진구 자양동,자양동
3,2012,2,13,11,4.0,122.8,1.0,0.0,29.5,1,...,127.073653,1,1,0,0,2,24,25,서울특별시 광진구 중곡동,중곡동
4,2012,4,18,18,21.0,301.6,1.7,0.0,29.5,2,...,127.070634,1,1,0,0,1,15,05,서울특별시 광진구 군자동,군자동

In [10]:
# config  
rest_api_key = '5ca237fd2fef89e1f3526dd2562eb115'  
header = {'Authorization': 'KakaoAK ' + rest_api_key}

# 위.경도 longitude(long) 롱이니까 경도라고 외우면 쉽다.   
x=127.110459  
y=37.548596

# 요청 주소
url = f'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x={x}&y={y}'

# 결과값
res = requests.get(url, headers=header)  
res.raise_for_status()

print(res.json()['documents'][0]['address_name'])

HTTPError: 401 Client Error: Unauthorized for url: https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x=127.110459&y=37.548596

In [19]:
for idx,(lon,lat) in enumerate(zip(data['lon'],data['lat'])):
    url = f'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x={lat}&y={lon}'
    
    res = requests.get(url, headers=header)  
    res.raise_for_status()
    
    print(res.json())
    break
#     region=res.json()['documents'][0]['address_name']
#     data.loc[idx,'region']=region

KeyError: 'lon'

In [5]:
# data.to_csv('accalldata.csv',index=False)

In [30]:
data=pd.read_csv('accalldata.csv')
data.head()

,time,daynight,dayofweek,lon,lat,die,injure,injure_mid,injure_sm,acc_bg,acc_mid,acc_sm,region
0,2012012813,1,7,37.535073,127.094486,1,1,0,0,1,11,01,서울특별시 광진구 구의동
1,2012020305,2,6,37.548596,127.110459,1,1,0,0,3,31,32,서울특별시 광진구 광장동
2,2012020915,1,5,37.528365,127.077644,1,2,1,0,2,23,Z2,서울특별시 광진구 자양동
3,2012021311,1,2,37.559601,127.073653,1,1,0,0,2,24,25,서울특별시 광진구 중곡동
4,2012041818,2,4,37.548010,127.070634,1,1,0,0,1,15,05,서울특별시 광진구 군자동

In [31]:
data['subset_region']=data['region'].str.split(expand=True)[2]

In [32]:
names={'time':'시간','daynight':'주야구분','dayofweek':'요일','lon':'위도','lat':'경도','die':'사망자수',
       'injure':'부상자수','injure_mid':'중상자수','injure_sm':'경상자수','acc_bg':'사고유형대분류','acc_mid':'사고유형중분류',
      'acc_sm':'사고유형소분류','region':'주소','subset_region':'지역'}

data=data.rename(columns=names)

In [33]:
data['시간']=pd.to_datetime(data['시간'],format='%Y%m%d%H')

data['연']=data['시간'].dt.year
data['월']=data['시간'].dt.month
data['일']=data['시간'].dt.day
data['시간']=data['시간'].dt.hour

In [34]:
import os 

temps=['./temp/'+d for d in os.listdir('./temp')]

In [63]:
temp_2012=pd.read_csv(temps[0],encoding='cp949')
temp_2013=pd.read_csv(temps[1],encoding='cp949')
temp_2014=pd.read_csv(temps[2],encoding='cp949')
temp_2015=pd.read_csv(temps[3],encoding='cp949')
temp_2016=pd.read_csv(temps[4],encoding='cp949')
temp_2017=pd.read_csv(temps[5],encoding='cp949')
temp_2018=pd.read_csv(temps[6],encoding='cp949')
temp_2019=pd.read_csv(temps[7],encoding='cp949')
temp_2020=pd.read_csv(temps[8],encoding='cp949')

In [40]:
def conv_merge(df1,df2):
    df1['일시']=pd.to_datetime(df1['일시'],format='%Y-%m-%d %H:%M')
    
    df1['연']=df1['일시'].dt.year
    df1['월']=df1['일시'].dt.month
    df1['일']=df1['일시'].dt.day
    df1['시간']=df1['일시'].dt.hour
    
    df1=df1[['연','월','일','시간','기온(°C)','풍향(deg)','풍속(m/s)','강수량(mm)','습도(%)']]
    df=pd.merge(df1,df2,on=['연','월','일','시간'],how='right')
    return df

In [93]:
df1=conv_merge(temp_2012,data).dropna()
df2=conv_merge(temp_2013,data).dropna()
df3=conv_merge(temp_2014,data).dropna()
df4=conv_merge(temp_2015,data).dropna()
df5=conv_merge(temp_2016,data).dropna()
df6=conv_merge(temp_2017,data).dropna()
df7=conv_merge(temp_2018,data).dropna()
df8=conv_merge(temp_2019,data).dropna()
df9=conv_merge(temp_2020,data).dropna()

In [96]:
data=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [104]:
data.to_csv('accalldata.csv',index=False)

In [105]:
data=pd.read_csv('accalldata.csv')
data.head()

,연,월,일,시간,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),주야구분,...,경도,사망자수,부상자수,중상자수,경상자수,사고유형대분류,사고유형중분류,사고유형소분류,주소,지역
0,2012,1,28,13,1.0,22.2,1.7,0.0,18.9,1,...,127.094486,1,1,0,0,1,11,01,서울특별시 광진구 구의동,구의동
1,2012,2,3,5,-12.9,78.6,1.3,0.0,66.7,2,...,127.110459,1,1,0,0,3,31,32,서울특별시 광진구 광장동,광장동
2,2012,2,9,15,0.1,322.1,3.0,0.0,45.7,1,...,127.077644,1,2,1,0,2,23,Z2,서울특별시 광진구 자양동,자양동
3,2012,2,13,11,4.0,122.8,1.0,0.0,29.5,1,...,127.073653,1,1,0,0,2,24,25,서울특별시 광진구 중곡동,중곡동
4,2012,4,18,18,21.0,301.6,1.7,0.0,29.5,2,...,127.070634,1,1,0,0,1,15,05,서울특별시 광진구 군자동,군자동

In [17]:
data[['경도','위도']]

            경도         위도
0   127.094486  37.535073
1   127.110459  37.548596
2   127.077644  37.528365
3   127.073653  37.559601
4   127.070634  37.548010
..         ...        ...
87  127.082050  37.556169
88  127.083342  37.545287
89  127.082438  37.545109
90  127.077103  37.538053
91  127.078491  37.560798

[92 rows x 2 columns]

In [22]:
from patsy import dmatrices
import statsmodels.api as sm

expr = """BB_COUNT ~ DAY  + DAY_OF_WEEK + MONTH + HIGH_T + LOW_T + PRECIP"""

y_train, X_train = dmatrices(expr, df_train, return_type='dataframe')
y_test, X_test = dmatrices(expr, df_test, return_type='dataframe')

poisson_training_results = sm.GLM(y_train, X_train, family=sm.families.Poisson()).fit()

print(poisson_training_results.summary())

ModuleNotFoundError: No module named 'statsmodels'

In [ ]:
poisson_predictions = poisson_training_results.get_prediction(X_test)
#.summary_frame() returns a pandas DataFrame
predictions_summary_frame = poisson_predictions.summary_frame()
print(predictions_summary_frame)

predicted_counts=predictions_summary_frame['mean']
actual_counts = y_test['BB_COUNT']

#Mlot the predicted counts versus the actual counts for the test data.
fig = plt.figure()
fig.suptitle('Predicted versus actual bicyclist counts on the Brooklyn bridge')
predicted, = plt.plot(X_test.index, predicted_counts, 'go-', label='Predicted counts')
actual, = plt.plot(X_test.index, actual_counts, 'ro-', label='Actual counts')
plt.legend(handles=[predicted, actual])
plt.show()

#Show scatter plot of Actual versus Predicted counts
plt.clf()
fig = plt.figure()
fig.suptitle('Scatter plot of Actual versus Predicted counts')
plt.scatter(x=predicted_counts, y=actual_counts, marker='.')
plt.xlabel('Predicted counts')
plt.ylabel('Actual counts')
plt.show()